{# src/APNet/Bundle/APMetronicBundle/Resources/views/metronic/pezzi/login/copyright.html.twig #}
<div class="copyright">
	{% block login_form_copyright_text %}APNet Metronic Bundle{% endblock %}
</div>