{# src/APNet/Bundle/APMetronicBundle/Resources/views/metronic/pezzi/login/forgot_password_form.html.twig #}
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="index.html" method="post">
	<div class="form-title">
		<span class="form-title">Password dimenticata ?</span>
		<span class="form-subtitle">Inserisci la tua e-mail per resettarla.</span>
	</div>
	<div class="form-group">
		<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
	<div class="form-actions">
		<button type="button" id="back-btn" class="btn btn-default">Indietro</button>
		<button type="submit" class="btn btn-primary uppercase pull-right">Resetta</button>
	</div>
</form>
<!-- END FORGOT PASSWORD FORM -->