{# src/APNet/Bundle/APMetronicBundle/Resources/views/metronic/pezzi/login/logo.html.twig #}
<div class="logo">
	<a href="{% block home_path %}{% endblock %}">
	<img src="{% block logo_image_path %}{% endblock %}" alt="" /> </a>
</div>